/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

@font-face {
  font-family: 'MuseoSans100';
  src: url("../font/museosans-100-webfont.eot");
  src: url("../font/museosans-100-webfont.eot?iefix") format("eot"), url("../font/museosans-100-webfont.woff2") format("woff2"), url("../font/museosans-100-webfont.woff") format("woff"), url("../font/museosans-100-webfont.ttf") format("truetype"), url("../font/museosans-100-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MuseoSans500';
  src: url("../font/museosans-500-webfont.eot");
  src: url("../font/museosans-500-webfont.eot?iefix") format("eot"), url("../font/museosans-500-webfont.woff2") format("woff2"), url("../font/museosans-500-webfont.woff") format("woff"), url("../font/museosans-500-webfont.ttf") format("truetype"), url("../font/museosans-500-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

*:focus {
  outline: none !important; }

html, body {
  color: #343e44;
  font-family: "HelveticaNeueLTStd", Helvetica, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-family: MuseoSans100, Verdana, Geneva, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  width: 100%; }
  body.modal-open {
    padding-right: 0 !important; }

p {
  margin: 0; }

hr {
  border-top: 1px solid #9db2c3 !important; }

a:hover {
  text-decoration: none !important; }

.w100 {
  width: 100%; }

.center {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right !important; }

.round {
  border-radius: 50% !important; }

.header {
  background-color: #eaebed;
  padding: 13px 0 9px 0;
  position: relative;
  text-align: center; }
  .header h1 {
    color: #418fcd; }
    .header h1 img {
      display: inline-block;
      width: 200px; }

.title-container {
  color: black;
  text-align: center; }

.enter-addr {
  margin-top: 15%; }

.content-list {
  width: 100%;
  padding: 10px;
  float: left; }
  .content-list .list-item-event .title,
  .content-list .list-item-event .description {
    color: #6b9ac0; }
  .content-list h4,
  .content-list p,
  .content-list button {
    display: inline-block; }

.pichi-button {
  width: auto;
  min-width: 70px;
  height: 50px;
  margin-top: -5px;
  float: right;
  background-color: transparent;
  border: 0.3px solid #6b9ac0;
  border-radius: 5px;
  text-transform: uppercase;
  color: #6b9ac0; }

.pichi-button.red {
  border: 0;
  background-color: #ef3b41;
  color: white; }

main.content {
  background: no-repeat center center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  main.content .title-container h1 {
    font-family: MuseoSans500, Verdana, Geneva, sans-serif;
    color: #343e44; }
  main.content .content-show section {
    min-height: calc(100vh - 285px); }
  main.content .content-show .checkout-container .checkout {
    display: none;
    background-color: #f7f8f9; }
    main.content .content-show .checkout-container .checkout .row {
      margin: 0; }
      main.content .content-show .checkout-container .checkout .row h4,
      main.content .content-show .checkout-container .checkout .row .prod-desc {
        padding: 0;
        float: left; }
      main.content .content-show .checkout-container .checkout .row p {
        margin: 10px auto;
        float: right; }
    main.content .content-show .checkout-container .checkout .btn-compra {
      width: 100%;
      margin: 20px auto; }
    main.content .content-show .checkout-container .checkout #productsContainer .cart-prod-cant {
      background: white;
      padding: 5px;
      margin: 5px;
      border-radius: 5px; }
  main.content .cart-btn:before {
    content: "cart"; }
  @media screen and (max-width: 900px) {
    main.content.checkout-mobile .cart-btn:before {
      content: "close"; }
    main.content.checkout-mobile div .content-show .content-list {
      opacity: 0; }
    main.content.checkout-mobile div .content-show .checkout-container .checkout {
      width: 100%;
      display: block;
      position: absolute;
      z-index: 1020;
      top: 0;
      padding: 10%; }
    main.content.checkout-mobile .footer {
      display: none; }
    main.content.checkout-mobile .menu-footer__cart-meta {
      bottom: auto;
      top: 0; } }

.content-banner {
  position: relative;
  height: 200px;
  overflow-y: hidden; }

.content-banner-title {
  margin: 0;
  color: #000;
  font-family: MuseoSans500, Verdana, Geneva, sans-serif;
  font-size: 24px;
  left: 15px;
  bottom: 15px;
  z-index: 1; }

.content-banner-image {
  display: block;
  height: auto;
  top: 0;
  max-width: 100%;
  position: relative;
  z-index: -1; }

.content-list .list-item {
  border-bottom: 1px solid #c4cccf;
  color: #232d38;
  display: block;
  font-size: 16px;
  padding: 30px 15px;
  position: relative;
  text-decoration: none; }
  .content-list .list-item:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #438ecd;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%); }
.content-list .list-item-event {
  border-bottom: 1px solid #c4cccf;
  color: #232d38;
  display: block;
  padding: 25px 0;
  text-decoration: none; }

.footer__social-icons {
  border-top: 1px solid #9ea1a7;
  padding: 30px 0;
  text-align: center;
  width: 100%; }

.menu-footer__cart-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: #ffffff;
  border-top: 1px solid #e4e5e7;
  bottom: 0;
  font-size: 13px;
  height: 60px;
  left: 0;
  padding: 0 15px;
  position: fixed;
  right: 0;
  text-transform: capitalize;
  width: 100%;
  z-index: 1030; }

footer {
  color: #fff;
  background-color: #232d37;
  width: 100%;
  padding: 25px 15px 10px;
  text-align: center;
  float: right; }
  footer p {
    color: #465769;
    font-size: 12px;
    line-height: 1.4; }
    footer p a {
      color: inherit; }
  footer p:first-child {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 25px; }
  footer .footer__social-icons a:nth-child(2) {
    margin: 0 30px; }
  @media screen and (max-width: 900px) {
    footer {
      padding-bottom: 60px; } }

@media (min-width: 900px) {
  .menu-footer__cart-meta {
    display: none; }

  main.content .content-show {
    padding: 0 10%; }
    main.content .content-show .content-list {
      width: 60%; }
    main.content .content-show .checkout-container {
      width: 35%;
      height: auto;
      float: right; }
      main.content .content-show .checkout-container .checkout {
        display: block;
        max-width: 400px;
        padding: 20px;
        margin: 20px auto;
        border-radius: 5px; } }

/*# sourceMappingURL=styles.css.map */
