// body > main > section > div > div

#foodItemsFilter {
  .order {
    padding-top: 5px;
    padding-right: 0;
    color: $soft-blue;
    margin: 0;
    text-align: right;
    small {
      display: inline-block;
      vertical-align: text-top;
      margin-right: 3px;
    }
    span {
      // float: right;
      margin-left: 22px;
      transform: scale(2.6);
      @media screen and (min-width: 900px) {
        margin-left: 0px;
        transform: scale(1);
      }
    }
    @media screen and (min-width: 900px) {
      padding-right: 15px;
    }
  }
}
