// body > main > section > div > div

#foodItemsFilter {
  padding-top: 15px;
  width: 100%;
  .order {
    color: $soft-blue;
    margin: 0;
    text-align: right;
    small {
      display: inline-block;
      vertical-align: text-top;
      margin-right: 3px;
    }
    @media screen and (min-width: 900px) {
      padding-right: 15px;
      padding-top: 5px;
    }
  }
  #activeFilters {
    .chip {
      width: 115px;
      padding: 5px;
      text-align: center;
      border-radius: 15px;
      float: left;
      .close {
        font-size: 14px;
        transform: scale(1.5);
        margin-left: 4px;
        margin-top: 2px;
      }
      .name {
        font-size: 14px;
        color: #cccccc;
      }
    }
  }
  @media screen and (min-width: 900px) {
    width: 60%;
  }
}
